#navbarMenu {
  display: none;
  z-index: 3;
  padding: 1em 1em 1em 1.5em;
}

#navbarMenu a {
  color: white;
  font-family: "Oswald";
  text-decoration: none;
  font-size: 1.2em;
}

#navbarMenu a:hover{
  color: #813942;
}

@media screen and (min-width: 600px) {

  #navbarMenu{
    display: flex;
    justify-content: space-between;
    width: 40em;
  }
}