#toggleMenu {
  background-color: lightpink;
  position: fixed;
  right: 0;
  top: 13vh;
  min-width: 50vw;
  height: 87vh;
}

.column-container {
  display: flex;
  flex-direction: column;
}

#closeButton {
  width: 3em;
  margin: 0.5em 0 0 0.5em;
}

#toggleMenuOptions {
  min-height: 75vh;
  justify-content: center;
  align-items: center;
}

#toggleMenuOptions button {
  padding: 1.4em 0;
  min-width: 35vw;
  margin: 2em 0;
  font-size: 1em;
}

@media screen and (min-width: 600px) {
  #toggleMenu {
    display: none;
  }
}